<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>
  <div style="background-color: white; box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.2); height:1000px; margin-top:2px;" class="container">
  <div class="blogs content">
    <h2>All Blogs</h2>

    <% if (blogs.length > 0) { %>
      <% blogs.forEach(blog => { %>

        <h3 class="title"><%= blog.title %></h3>
        <p class="snippet"><%= blog.snippet %></p>

      <% }) %>
    <% } else { %>
      <p>There are no blogs to display...</p>
    <% } %>
    
  </div>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>